extends layout

block link
  link(href='stylesheets/cello.css' rel='stylesheet' type='text/css')
  title Celloed

block heading
  .heading
    block h1
    h1(style='color:white') Cello
    block p
    h1(style='color:white') -Play Play Play

block rains
  
  //video
  .overlay
    .playBtn
  block rains
    .speed
      .speed-bar 1&times;

block scripts
  script(src='javascripts/cello.js')
