extends layout

block link
  link(href='stylesheets/index.css' rel='stylesheet' type='text/css')
  title Home

block heading
  #myDigitalClock.clock
  block h1

  block p
  

block back-row
  .boxes
    .box
      .hello
        .bar
          .bar__fill(style='width: 27%;')
        .point.point--complete
          .bullet
          label.label About
        .point.point--active
          .bullet
          label.label Cello
        .point
          .bullet
          label.label Jack
        .point
          .bullet
          label.label Skills  
        .point
          .bullet
          label.label Contact        

block footer
  #footer
    .sns
      ul
        li
          a.facebook(href='#twit' style='color: white') T
        li
          a.instagram(href='#face' style='color: white') F
        li
          a.twitter(href='#insta' style='color: white') I
block scripts
  script(src='javascripts/index.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js')
