doctype html
head
  block link
  link(href='stylesheets/layout.css' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
  //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  title Background
// Wrapper
#wrapper
  // Navbar
  .navbar
    block heading

      block h1
        h1(style='color:white') Contact.
      block p
        p(style='color:white') -I love to hear from you!

    main.container-animation--flexbox
      i#animationItem-image--bigCloud.animationItem.material-icons cloud
      i#animationItem-image--middleCloud.animationItem.material-icons cloud
      i#animationItem-image--smallCloud.animationItem.material-icons cloud
    .logo
      h1 logo
  block header
  #header
    block rains
    .rains
    block front-row
      .rain.front-row
    block back-row
      .rain.back-row
  block footer
   
block scripts
script(src='javascripts/layout.js')
