.box {
  margin-right: 10px;
  width: 50%;
  position: absolute;
  top: 30%;
  right: 0;
}
.box h1 {
  color: white;
  font-weight: 600;
  font-family: courier;
}
p{
  font-size: 17px;
  color: white;
  font-family: courier;
}
.imagee {
  padding: 40px;
  position: relative;
}
img {
  border-radius: 50%;
  z-index: 3!important;
}

@media only screen and (max-width: 1135px) {
  .box {position: relative;
        left: 25%;
        text-align: center;
        padding: 20px;}
  #header {max-height: 1000vh!important;}
  #header img {display: block!important;
      margin-left: auto;
      margin-right: auto;
      width: 50%;}
}

@media only screen and (max-width: 550px) {
  .imagee {display: none;}
}