.pix {
    height: 700px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    position: relative;
    perspective: 500px;
  }
 
  .pic {
    width: 300px;
    height: calc(100% + 20px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
.pic:nth-child(10n+1) { background:rgb(48, 47, 47);}
.pic:nth-child(10n+10) { background:rgb(48, 47, 47);}
.pic:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
.pic:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }

.nonpic {
  height: 500px;
}

 img {
    height: 500px;
    width: 300px;
}
 
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  #header {
    min-height: 105vh!important;
    max-height: 105vh!important;
  }



