#header {
    display: flex;
}
.navbar {
    height: 240px!important;
}

.image img {
    height: 400px;
    width: 300px;
    border: 5px solid #f8f8f8;
    display: block;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
}

.image {
    height: 400px;
    position: relative;
    margin-top: 20px;
    left: 10%;
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
}
.image:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; 
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.image:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 53%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
} 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

#header h1 {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 5%;
    color: white;
}
#animationItem-image--middleSmallCloud {
    animation: bobble 6s infinite;
    margin-top: 355px;
    margin-left: -217px;
    font-size: 167px;
    color: #7467e9;
    filter: drop-shadow(9px 20px 3px rgba(130, 66, 155, 0.753));
    z-index: 3;
    position: absolute;
    right: 30%;
  }
  #animationItem-image--middleSmallsmallCloud {
    animation: bobble 6s infinite;
    margin-top: 300px;
    margin-left: -217px;
    font-size: 130px;
    color: #e76464;
    filter: drop-shadow(9px 20px 3px rgba(226, 119, 69, 0.753));
    z-index: 3;
    position: absolute;
    right: 15%;
  }


